<section class="form">
    <form ng-submit="$ctrl.saveInfo($ctrl.info)">
        <p class="heading">Use the form below to update your profile.</p>
        <label for="name">Name</label>
        <input id="name" type="text" ng-model="$ctrl.info.name">
        <label for="contact">Contact</label>
        <input id="contact" type="text" ng-model="$ctrl.info.contact">
        <label for="bio">Bio</label>
        <input id="bio" type="text" ng-model="$ctrl.info.bio">
        <button class="save" ng-click="">Save</button>
    </form>
</section>